<!DOCTYPE html>

<head>
	<link rel="stylesheet" type="text/css" href="/css/style.css" />
	<script src="js/lib/jquery-1.11.3.min.js"></script>
	<script src="js/lib/backbone-min.js" type="text/javascript" charset="utf-8"></script>
	<img class="center" src="trucks.png" style="width:350px;height:228px;">
	<hr width="80%">
</head>

<body class="center" bgcolor="white">
	<div class="center" id="map"></div>
	<script>
	function initMap() {
		var mapDiv = document.getElementById('map');
		var map = new google.maps.Map(mapDiv, {
			center: {lat: 39.95, lng: 75.193},
			zoom: 8
		});
	}
	</script>
	<script src="https://maps.googleapis.com/maps/api/js?callback=initMap" async defer></script>
	<script src="js/collection/entryCollection.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/router/router.js" type="text/javascript" charset="utf-8"></script>
</body>

<footer class="center" class="footer">
	<p>Kevin Zhai, Samay Dhawan, Ella Polo, Jason Woo, Victor Yoon 2016</p>
	<p>NETS 213 Final Project</p>
</footer>