<!DOCTYPE html>

<head>
	<link rel="stylesheet" type="text/css" href="/css/style.css" />
	<script src="/js/jquery-1.11.3.min.js"></script>
	<script src="/js/makeJSON.js"></script>
	<script src="http://code.jquery.com/jquery-1.6.2.min.js"></script>
	<img class="center" src="trucks.png" style="width:350px;height:228px;">
	<hr width="80%">
</head>

<body class="center" bgcolor="white">
	<p>Help Us add more food trucks by inputting menu information here: <b><a href="http://tinyurl.com/nets213foodtruck">http://tinyurl.com/nets213foodtruck</a></b></p>
	<div class="center" id="map" style="width:900px;height:700px;"></div>
	<script src="/js/addMarkers.js"></script>
	<script src="https://maps.googleapis.com/maps/api/js?callback=initMap" async defer></script>
</body>

<footer class="center" class="footer">
	<p>Kevin Zhai, Samay Dhawan, Ella Polo, Jason Woo, Victor Yoon 2016</p>
	<p>NETS 213 Final Project</p>
</footer>