<!DOCTYPE html>

<head>
	<link rel="stylesheet" type="text/css" href="/css/style.css" />
	<script src="//d3js.org/d3.v3.min.js" charset="utf-8"></script>
	<script src="js/lib/jquery-1.11.3.min.js"></script>
	<script src="js/lib/underscore-min.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/lib/backbone-min.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/lib/mustache.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/lib/socket.io.js" type="text/javascript" charset="utf-8"></script>
	<img class="center" src="trucks.png" style="width:350px;height:228px;">
	<hr width="80%">
</head>

<body class="center" bgcolor="white">
	<script src="js/model/entryModel.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/collection/entryCollection.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/view/graphView.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/view/inputView.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/router/router.js" type="text/javascript" charset="utf-8"></script>
</body>

<footer class="center" class="footer">
	<p>Kevin Zhai, Samay Dhawan, Ella Polo, Jason Woo, Victor Yoon 2016</p>
	<p>NETS 213 Final Project</p>
</footer>