<!DOCTYPE html>

<head>
	<link rel="stylesheet" type="text/css" href="/css/style.css" />
	<script src="js/lib/jquery-1.11.3.min.js"></script>
	<script src="js/lib/backbone-min.js" type="text/javascript" charset="utf-8"></script>
	<img class="center" src="trucks.png" style="width:350px;height:228px;">
	<hr width="80%">
</head>

<body class="center" bgcolor="white">
	<p>Help Us add more food trucks by inputting menu information here: <b><a href="http://tinyurl.com/nets213foodtruck">http://tinyurl.com/nets213foodtruck</a></b></p>
	<div class="center" id="map" style="width:900px;height:700px;"></div>
	<script>
	function initMap() {
		var mapDiv = document.getElementById('map');

		var map = new google.maps.Map(mapDiv, {
			center: {lat: 39.9502, lng: -75.1913},
			zoom: 17
		});


		setMarkers(map);
	}

	var trucks = [
	['Tyson Bees', 39.9502, -75.1913,
	'<p>Korean BBQ SHort Rib Tacos - $3</p>'+
	'<p>Thai Basil Chicken Tacos - $3</p>'+
	'<p>Edamame Tacos - $3</p>'+
	'<p>Korean Beef Short Rib and Kimchi Burrito - $5</p>'+
	'<p>Grilled BBQ Lemongrass Pork Bahn Mi Sandwhich- $5</p>'+
	'<p>Steamed Pork Buns - $3</p>'+
	'<p>Curry of the Week over Rice - $6</p>'+
	'<p>Thai Basil Chicken over Rice- $6</p>'+
	'</div>'+
	'</div>'],
	['Kings Wok', 39.9503, -75.1914, 
	'<p>Choose the items below with meats (chicken, pork, beef, shrimp, tofu)</p>'+
	'<p>Lo Mein - $4.50</p>'+
	'<p>Fried Rice - $4.50</p>'+
	'<p>Chow Fun - $4.50</p>'+
	'<p>Egg Foo Young - $4.50</p>'+
	'</div>'+
	'</div>']
	];



	function setMarkers(map) {
		var image = {
			url: 'https://dl.dropboxusercontent.com/u/76571929/truckLogo.png'
		};


		var listeners = [];

		for (var i = 0; i < trucks.length; i++) {
			(function(index){
				var truck = trucks[index];
				var marker = new google.maps.Marker({
					position: {lat: truck[1], lng: truck[2]},
					map: map,
					icon: image,
					title: truck[0]
				});
				var infowindow = new google.maps.InfoWindow({
					content: '<div id="content">'+
					'<div id="siteNotice">'+
					'</div>'+
					'<h1 id="firstHeading" class="firstHeading">' + truck[0] + '</h1>' +
					'<div id="bodyContent">'+ truck[3]
				});
				marker.addListener('click', function() {
					infowindow.open(map, marker);
				});
			})(i);
		}
	}
	</script>
	<script src="https://maps.googleapis.com/maps/api/js?callback=initMap" async defer></script>
	<script src="js/collection/entryCollection.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/router/router.js" type="text/javascript" charset="utf-8"></script>
</body>

<footer class="center" class="footer">
	<p>Kevin Zhai, Samay Dhawan, Ella Polo, Jason Woo, Victor Yoon 2016</p>
	<p>NETS 213 Final Project</p>
</footer>